<%= div_for(task, class: "col-md-4 col-sm-4 col-xs-6 box ") do %>
  <div class="inside-box">
    <h3 class="task-name"><%= task.name %></h3>

    <ul class="action-box">
     <li><%= link_to "Edit Task", new_task_path, remote: true %></li>
     <li><%= link_to task.complete ? "Mark Incomplete" : "Mark Complete", complete_path(task), remote: true %></li>
     <li><%= link_to "Delete Task", task, remote: true, method: :delete %></li>
    </ul>
  </div>
<% end %>
